# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [1]:
# import libraries
import sys
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
from sqlalchemy import create_engine

In [2]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()

   id                                            message                                           original   genre
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct

In [3]:
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [4]:
# merge datasets
df =pd.merge(messages,categories,how='inner',on='id')
df.head()

   id                                            message                                           original   genre                                         categories
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct  related-1;request-0;offer-0;aid_related-0;medi...
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct  related-1;request-0;offer-0;aid_related-1;medi...
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct  related-1;request-0;offer-0;aid_related-0;medi...
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct  related-1;request-1;offer-0;aid_related-1;medi...
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct  related-1;request-0;offer-0;aid_related-0;medi...

In [5]:
df.genre.value_counts()

news      13128
direct    10852
social     2406
Name: genre, dtype: int64

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [6]:
# create a dataframe of the 36 individual category columns
categories = df.categories.str.split(';',expand=True)
categories.head()

          0          1        2              3               4                   5                    6           7           8              9        10      11         12          13       14                15          16       17           18                        19           20           21             22       23           24       25             26                      27                 28        29       30      31            32      33               34               35
0  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  aid_related-1  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-1  floods-0  storm-1  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  aid_related-1  medical_help-0  medical_products-1  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-1  transport-0  buildings-1  electricity-0  tools-0  hospitals-1  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0

In [7]:
categories[0].value_counts()

related-1    20042
related-0     6140
related-2      204
Name: 0, dtype: int64

In [8]:
# select the first row of the categories dataframe
# https://stackoverflow.com/questions/25254016/pandas-get-first-row-value-of-a-given-column
row = categories.loc[0]

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = row.apply(lambda x: x[:-2])
print(category_colnames)

0                    related
1                    request
2                      offer
3                aid_related
4               medical_help
5           medical_products
6          search_and_rescue
7                   security
8                   military
9                child_alone
10                     water
11                      food
12                   shelter
13                  clothing
14                     money
15            missing_people
16                  refugees
17                     death
18                 other_aid
19    infrastructure_related
20                 transport
21                 buildings
22               electricity
23                     tools
24                 hospitals
25                     shops
26               aid_centers
27      other_infrastructure
28           weather_related
29                    floods
30                     storm
31                      fire
32                earthquake
33                      cold
34             other_weather
35             direct_report
Name: 0, dtype: object

In [9]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

0    related    request    offer    aid_related    medical_help    medical_products    search_and_rescue    security    military    child_alone    water    food    shelter    clothing    money    missing_people    refugees    death    other_aid    infrastructure_related    transport    buildings    electricity    tools    hospitals    shops    aid_centers    other_infrastructure    weather_related    floods    storm    fire    earthquake    cold    other_weather    direct_report
0  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  aid_related-1  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-1  floods-0  storm-1  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  aid_related-1  medical_help-0  medical_products-1  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-1  infrastructure_related-1  transport-0  buildings-1  electricity-0  tools-0  hospitals-1  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  aid_related-0  medical_help-0  medical_products-0  search_and_rescue-0  security-0  military-0  child_alone-0  water-0  food-0  shelter-0  clothing-0  money-0  missing_people-0  refugees-0  death-0  other_aid-0  infrastructure_related-0  transport-0  buildings-0  electricity-0  tools-0  hospitals-0  shops-0  aid_centers-0  other_infrastructure-0  weather_related-0  floods-0  storm-0  fire-0  earthquake-0  cold-0  other_weather-0  direct_report-0

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [10]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] =  categories[column].apply(lambda x: x[-1:])
    
    # convert column from string to numeric
    categories[column] = categories[column].astype('int')
categories.head()

0  related  request  offer  aid_related  medical_help  medical_products  search_and_rescue  security  military  child_alone  water  food  shelter  clothing  money  missing_people  refugees  death  other_aid  infrastructure_related  transport  buildings  electricity  tools  hospitals  shops  aid_centers  other_infrastructure  weather_related  floods  storm  fire  earthquake  cold  other_weather  direct_report
0        1        0      0            0             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
1        1        0      0            1             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          1                       0          0          0            0      0          0      0            0                     0                1       0      1     0           0     0              0              0
2        1        0      0            0             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
3        1        1      0            1             0                 1                  0         0         0            0      0     0        0         0      0               0         0      0          1                       1          0          1            0      0          1      0            0                     0                0       0      0     0           0     0              0              0
4        1        0      0            0             0                 0                  0         0         0            0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0

In [11]:

# Confirm values in each column of the categories dataframe are, in fact, only 0's and 1's.
import numpy as np
for column in categories:
    if len(np.unique(categories[column])) != 2:
        print(column, np.unique(categories[column]))

related [0 1 2]
child_alone [0]

In [12]:

# Count number of entries where related == 2
categories['related'].value_counts()

1    20042
0     6140
2      204
Name: related, dtype: int64

In [13]:
# Count number of entries
categories['child_alone'].value_counts()

0    26386
Name: child_alone, dtype: int64

In [14]:

# Drop child_alone from categories dataframe.
categories.drop('child_alone', axis = 1, inplace = True)

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [15]:
# drop the original categories column from `df`
df.drop('categories',axis=1,inplace=True)

df.head()

   id                                            message                                           original   genre
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct

In [16]:
# concatenate the original dataframe with the new `categories` dataframe
df = pd.concat([df,categories],axis=1)
df.head()

   id                                            message                                           original   genre  related  request  offer  aid_related  medical_help  medical_products  search_and_rescue  security  military  water  food  shelter  clothing  money  missing_people  refugees  death  other_aid  infrastructure_related  transport  buildings  electricity  tools  hospitals  shops  aid_centers  other_infrastructure  weather_related  floods  storm  fire  earthquake  cold  other_weather  direct_report
0   2  Weather update - a cold front from Cuba that c...  Un front froid se retrouve sur Cuba ce matin. ...  direct        1        0      0            0             0                 0                  0         0         0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
1   7            Is the Hurricane over or is it not over                 Cyclone nan fini osinon li pa fini  direct        1        0      0            1             0                 0                  0         0         0      0     0        0         0      0               0         0      0          1                       0          0          0            0      0          0      0            0                     0                1       0      1     0           0     0              0              0
2   8                    Looking for someone but no name  Patnm, di Maryani relem pou li banm nouvel li ...  direct        1        0      0            0             0                 0                  0         0         0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  UN reports Leogane 80-90 destroyed. Only Hospi...  direct        1        1      0            1             0                 1                  0         0         0      0     0        0         0      0               0         0      0          1                       1          0          1            0      0          1      0            0                     0                0       0      0     0           0     0              0              0
4  12  says: west side of Haiti, rest of the country ...  facade ouest d Haiti et le reste du pays aujou...  direct        1        0      0            0             0                 0                  0         0         0      0     0        0         0      0               0         0      0          0                       0          0          0            0      0          0      0            0                     0                0       0      0     0           0     0              0              0

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [17]:
# check number of duplicates
print('There are', sum(df.duplicated()), 'duplicates in the dataset.')

There are 170 duplicates in the dataset.

In [18]:
df.id.count()

26386

In [19]:
df.id.nunique()

26180

In [20]:
# check number of duplicates
df.id.count()-df.id.nunique()

206

In [21]:
# drop duplicates
df.drop_duplicates(inplace=True)

In [22]:
# check number of duplicates
# check number of duplicates
print('There are', sum(df.duplicated()), 'duplicates in the dataset.')

There are 0 duplicates in the dataset.

In [23]:

# Remove rows with a related value of 2 from the dataset
df = df[df['related'] != 2]

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [44]:
engine = create_engine('sqlite:///disaster.db')
df.to_sql('disaster_response', engine, index=False)

ValueError: Table 'disaster_response' already exists.

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.